<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">

    <ion-calendar [(ngModel)]="date" (onChange)="onChange($event)" [type]="type" [format]="'YYYY-MM-DD'">
    </ion-calendar>

     <ion-button class="default-button ion-text-capitalize ion-margin-top
    ion-margin-bottom border-radius-right ion-float-start"  expand="block" (click)="submit()">Check Schedule</ion-button>

  </div>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar>
    <ion-button item-end class="default-button border-radius-right ion-text-capitalize ion-margin-end " expand="block"
      (click)="submit()">Check Schedule
    </ion-button>

  </ion-toolbar>
</ion-footer> -->