.meteor {

/* Settings Fonts Size And Icon Size
=======================================================
=======================================================*/

  --fallback-color: red;
  --h1-font-size: 24px;
  --h2-font-size: 20px;
  --h3-font-size: 17px;
  --h4-font-size: 16px;
  --h5-font-size: 15px;
  --h6-font-size: 12px;
  --text-font-size: 14px;

/* Settings Fonts Size Icon
=======================================================
=======================================================*/

  --icon-size-small: 17px;
  --icon-size-medium: 22px;
  --icon-size-large: 32px;
  --icon-size-extra-large: 48px;

/* Settings Color Background Our App
=======================================================
=======================================================*/

  --cs-background-primary: #FBFBFB;
  --cs-background-secondary: #ffffff;
  --cs-background-accent: #CE700C;
  --cs-background-dark: #3A3A3A;

/* Settings Color Text Our App
=======================================================
=======================================================*/

  --cs-text-primary: #32313B;
  --cs-text-secondary: #ffffff;
  --cs-text-accent: #CE700C;

/* Settings Color Gradient Our App
=======================================================
=======================================================*/

/* Settings Gradijent Images*/

--cs-gradient-images-primary: rgba(255,255,255, 1);
--cs-gradient-images-secondary: rgba(255,255,255, 0);

--cs-gradient-image: linear-gradient(to top, var(--cs-gradient-images-primary) 0%, var(--cs-gradient-images-secondary) 100%);

/* Settings Size Avatar
=======================================================
=======================================================*/

  --size-avatar: 72px;

/* Settings Size Thumbnail
=======================================================
=======================================================*/

  --size-thumbnail: 78px;

/* Settings Border Radius
=======================================================
=======================================================*/

  --border-radius: 8px;

/* Settings Color Icon
=======================================================
=======================================================*/

  --cs-icon-color-primary: #32313B;
  --cs-icon-color-secondary: #ffffff;
  --cs-icon-color-accent: #CE700C;
}
