<ion-app>
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>My Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content class="transparent">
    <ion-grid class="ion-no-padding">
      <!---Form-->
      <form [formGroup]="frmFG" (ngSubmit)="submit(frmFG.value)">
      <ion-row *ngIf="data != null" class="ion-margin-top">
        <ion-col (change)="readUrl($event)" size="12" class="ion-margin-top">
          <ion-card class="ion-margin-top ion-padding avatar-info ion-text-center
        box-shadow border-radius">
            <input id="fileInput" name="file" type="file" accept="image/*" />
            <ion-label for="fileInput" size="12" class="text-size-sm ion-text-capitalize ion-text-center">
              <ion-thumbnail class="border-radius">
              <img class="ion-margin-bottom" [src]="url1" height="70">
            </ion-thumbnail>
            </ion-label>
            <!-- <ion-thumbnail class="border-radius">
              <img [src]="data.image" alt="">
            </ion-thumbnail> -->
            <ion-card-content class="ion-text-center">
              <h1 class="text-size-xs text-color-primary font-bold ion-text-wrap">
                {{user_name}}</h1>
              <!--  <p class="text-size-sm text-color-primary font-light ion-text-wrap">
                {{data.email}}</p> -->
              <p class="text-size-sm text-color-primary font-light ion-text-wrap">
                Seller</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
         
            <ion-item
              class="ion-margin-bottom ion-margin-end box-shadow ion-no-padding background-secondary border-radius-right input"
              lines="none">
              <ion-label class="text-size-sm ion-text-capitalize ion-text-wrap required ion-margin-start">
                First Name</ion-label>
              <ion-input formControlName="firstName" class="text-size-sm text-color-primary ion-text-capitalize ion-text-wrap" type="text"
                [placeholder]=""></ion-input>
              <!-- <i slot="end" class="icon icon-pencil icon-font-md icon-color-accent"></i> -->

            </ion-item>
            <!-- Last Name -->
            <ion-item
              class="ion-margin-bottom ion-margin-end box-shadow ion-no-padding background-secondary border-radius-right input"
              lines="none">
              <ion-label class="text-size-sm ion-text-capitalize ion-text-wrap required ion-margin-start">Last
                Name</ion-label>
              <ion-input formControlName="lastName" class="text-size-sm text-color-primary ion-text-capitalize ion-text-wrap" type="text"
                [placeholder]=""></ion-input>
            </ion-item>

            <ion-item
              class="ion-margin-bottom ion-margin-end box-shadow ion-no-padding background-secondary border-radius-right input"
              lines="none">
              <ion-label class="text-size-sm ion-text-capitalize ion-text-wrap required ion-margin-start">Email
              </ion-label>
              <ion-input formControlName="email" class="text-size-sm text-color-primary ion-text-wrap" type="email"
                [placeholder]="">
              </ion-input>
            </ion-item>

            <!-- Contact -->
            <ion-item
              class="ion-margin-bottom ion-margin-end box-shadow ion-no-padding background-secondary border-radius-right input"
              lines="none">
              <ion-label class="text-size-sm ion-text-capitalize ion-text-wrap required ion-margin-start">
                Contact</ion-label>
              <ion-input formControlName="mobile" class="text-size-sm text-color-primary ion-text-wrap" type="number" maxlength="10" [placeholder]=""></ion-input>
            </ion-item>
            <!-- Address Line 1 -->
            <ion-item
              class="ion-margin-bottom ion-margin-end box-shadow ion-no-padding background-secondary border-radius-right input"
              lines="none">
              <ion-label class="text-size-sm ion-text-capitalize ion-text-wrap required ion-margin-start">
                Address</ion-label>
              <ion-input formControlName="address" class="text-size-sm text-color-primary ion-text-wrap" type="text" [placeholder]=""></ion-input>
            </ion-item>

            <!-- <ion-item
              class="ion-margin-bottom ion-margin-end box-shadow ion-no-padding background-secondary border-radius-right input"
              lines="none">
              <ion-label class="text-size-sm ion-text-capitalize ion-text-wrap required ion-margin-start">City
              </ion-label>
              <ion-input formControlName="city" class="text-size-sm text-color-primary ion-text-capitalize ion-text-wrap" type="text"
                [placeholder]=""></ion-input>
            </ion-item> -->
            <!-- Zip Code -->
            <ion-item
              class="ion-margin-bottom ion-margin-end box-shadow ion-no-padding background-secondary border-radius-right input"
              lines="none">
              <ion-label class="text-size-sm ion-text-capitalize ion-text-wrap required ion-margin-start">
                ZipCode</ion-label>
              <ion-input formControlName="zipcode" class="text-size-sm text-color-primary ion-text-wrap" type="number" maxlength="6"
                [placeholder]=""></ion-input>
            </ion-item>
            <!-- <ion-button class="default-button border-radius-right ion-text-capitalize ion-margin-end ion-margin-top"
              [disabled]="!frmFG.valid" expand="block" type="submit">
              {{data.button}}
            </ion-button> -->
            <ion-footer>
              <ion-toolbar>
                <ion-button item-end class="default-button border-radius-right ion-text-capitalize ion-margin-end "
                  [disabled]="!frmFG.valid" expand="block" type="submit">
                  Update Profile
                </ion-button>
              </ion-toolbar>
            </ion-footer>
        </ion-col>
      </ion-row>
    </form>
    </ion-grid>
  </ion-content>

</ion-app>