/* Profile 4
========================================*/
:host {
  --cs-size-thumbnail: 100px;
}

ion-card {
  overflow: visible;

  ion-thumbnail {
    margin: -60px auto 0;
    width: var(--cs-size-thumbnail, 100px) !important;
    height: var(--cs-size-thumbnail, 100px) !important;
  }

}

.avatar-info {
  margin-top: 30px;
}

/* Style component 2
========================================================*/

ion-content {

  ion-grid,
  ion-row {
    height: 100%;

    .background-size {
      height: 300px;
      align-items: flex-end;
      display: flex;
    }

    form {
      ion-item {
        --background: var(--cs-background-secondary) !important;
        margin: 16px 16px 16px 0;
        width: calc(100% - 16px);

        ion-icon {
          position: absolute;
          right: 10px;
          bottom: 15px;
          z-index: 999;
        }

        ion-label {
          transform: none;
          flex: none !important;
          min-width: auto !important;
          width: auto !important;
          margin: 0 0 0 16px;
        }
      }
     /* .default-button {
        width: 100%;
        margin: 32px 0 16px 0;
      }*/
    }
  }
}

#fileInput {
  position: absolute;
  opacity: 0;
  height: 93px !important
}