<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">

      <ion-col class="ion-text-center ion-margin" offset="2" size="8">
        <h1 class="text-size-lg text-color-accent ion-text-wrap ion-margin-top ion-margin-bottom">
          Accurate Biller</h1>
        <img src="assets/icon/lock.png" />
      </ion-col>
      <ion-col class="ion-text-center" size="12">

        <!--  <img class="ion-margin-bottom" [src]="data.logo" /> -->
        <h2 class="text-size-sm text-color-primary font-bold ion-text-wrap ">
          Forgot Your Password?</h2>
        <h3 class="text-size-lg font-bold text-color-primary font-bold ion-text-wrap">

        </h3>
      </ion-col>
      <ion-col size="12">
        <form [formGroup]="frmFG" novalidate (ngSubmit)="frmSubmit(frmFG.value, frmFG.valid)">
          <!---Input field username-->
          <ion-item class="ion-no-padding border-radius box-shadow input" lines="none">
            <!--   <ion-label class="text-size-md text-color-primary font-regular" position="fixed">
              USERNAME</ion-label> -->
            <ion-input class="text-size-sm ion-text-wrap" name="email" formControlName="email" required type="text"
              placeholder="Enter username">
            </ion-input>
          </ion-item>



          <div class="clearfix"> </div>
          <ion-row class="ion-no-padding">
            <!-- <ion-col size="6"></ion-col> -->
            <ion-col size="12">
              <ion-button class="default-button border-radius-right ion-text-capitalize ion-margin-end ion-margin-top"
                expand="block" [disabled]="!frmFG.valid" type="submit">
                Send</ion-button>
            </ion-col>
          </ion-row>
          <p class="text-size-sm text-color-primary font-regular">
          </p>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>