ion-badge.ion-color.ion-color-danger.md.hydrated {
  height: 30px;
}

p.mar-bottom {
  margin-top: -8px;
  letter-spacing: 1px;
}

ion-skeleton-text {
  line-height: 13px;
  //--background-rgb: 230, 40, 50;
  --border-radius: 20px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}