<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Check Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<!-- EXPANDABLE --COMPONENT 1 -->
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-list class="ion-no-margin" *ngIf="data && data.agents; else skeleton">
          <!-- Header List Big Image -->
          <!-- <ion-list-header>
              <ion-label class="ion-padding-top ion-padding-bottom">
                <h1 class="text-size-md font-regular text-color-accent ion-no-margin">
                  {{data.header}}</h1>
              </ion-label>
            </ion-list-header> -->
          <ul class="collapsible ion-no-margin ion-no-padding">
            <li *ngFor="let item of data.agents;">
              <!-- List big image Header -->
              <ion-item class="default-item box-shadow ion-no-padding" lines="none">
                <ion-item (click)="changeStatus(item.id)">
                  <ion-thumbnail class="border-radius-right" slot="start">
                    <ion-img src="{{item.profilepic}}" [alt]="item.name"></ion-img>
                  </ion-thumbnail>
                  <ion-label class="ion-padding-start">
                    <h3 class="text-size-sm font-bold text-color-primary ion-text-wrap">
                      {{item.name}}</h3>
                    <p class="text-size-sm font-regular ion-text-wrap">
                      {{item.address}}</p>
                  </ion-label>
                </ion-item>

                <!--  <ion-badge *ngIf="item.leave" color="danger" class="border-radius-left" slot="end">

                  <p class="mar-bottom">On leave</p>
                </ion-badge> -->
                <!-- </ion-label> -->
              </ion-item>
              <!-- End List big image Header -->
              <!-- LIST OPEN ACCORDIAN BODY  -->
              <div class="item-accordion" [ngClass]="{'active': item.show }" [hidden]="!item.show">
                <ion-item class="default-item box-shadow ion-no-padding" lines="none"
                  *ngFor="let item of item.expandItems;" (click)="onItemClickFunc(item, $event)">
                  <!-- Avatar -->
                  <ion-thumbnail class="border-radius-left" slot="end">
                    <img [src]="item.image" [alt]="item.title" />
                  </ion-thumbnail>
                  <ion-label class="ion-padding-start">
                    <!-- Subtitle Title -->
                    <h2 class="text-size-md font-bold text-color-primary ion-text-nowrap">
                      {{item.title}}</h2>
                    <!-- Subtitle Subtitle -->
                    <h3 class="text-size-sm text-color-primary font-regular ion-text-wrap">
                      {{item.description}}</h3>
                    <p class="text-size-sm font-light text-color-primary ion-text-nowrap">
                      {{item.details}}</p>
                  </ion-label>
                </ion-item>
              </div>
              <!-- End List big image Body -->
            </li>
          </ul>
        </ion-list>

        <ng-template #skeleton>
          <ion-list class="ion-no-margin" className="fadeInLeft">
            <ion-item class="default-item ion-no-padding box-shadow" lines="none" *ngFor="let item of [1, 2, 3, 4, 5]">
              <ion-thumbnail class="border-radius ion-padding-start" slot="start">
                <ion-avatar>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
              </ion-thumbnail>
              <ion-label class="ion-padding">
                <h2>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </h2>
                <p>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ng-template>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>