/* SETTINGS RTL STYLE
=======================================================
=======================================================*/
html[dir=rtl] {
  .default-item {
    margin: 8px 0 8px 8px;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 8px !important;
  }

  .padding-half-right {
    padding-left: 8px;
  }

  .padding-half-left {
    padding-right: 8px;
  }

  .no-padding-right {
    padding-left: 0 !important;
  }

  .no-padding-left {
    padding-right: 0 !important;
  }

  .no-margin-left {
    margin-right: 0 !important;
  }

  .no-margin-right {
    margin-left: 0 !important;
  }

  .border-radius-right {
    --border-radius: 10px 0 0 10px !important;
    border-radius: 10px 0 0 10px !important;
  }

  .border-radius-left {
    --border-radius: 0 10px 10px 0 !important;
    border-radius: 0 10px 10px 0 !important;
  }
  /* SETTINGS EXPANDABLE
      =======================================================*/
  cs-expandable-list-layout-1 {
    .collapsible-header {
      padding: 4px 0 4px 8px;
    }
  }

  cs-expandable-list-layout-2 {
    li {
      padding: 4px 0 4px 8px;
    }
  }

  cs-expandable-list-layout-3 {
    li {
      padding: 4px 0 4px 8px;
    }
  }
  /* SETTINGS DRAG AND DROP
      =======================================================*/
  cs-drag-and-drop-list-layout-2 {
    .ion-padding-end {
      padding-right: 16px !important;
    }
  }
  /* SETTINGS SWIPE TO DISMISS
      =======================================================*/
  cs-swipe-to-dismiss-list-layout-1 {
    .ion-padding-end {
      padding-right: 16px !important;
    }

    .default-item {
      margin: 8px 0 0 8px !important;
    }
  }

  cs-swipe-to-dismiss-list-layout-2 {
    .default-item {
      margin: 8px 0 0 8px !important;
    }
  }

  cs-swipe-to-dismiss-list-layout-3 {
    ion-item {
      margin: 4px 0 4px 8px !important;

      ion-label {
        padding: 0 40px 0 20px !important;
      }

      .icon-round {
        margin-left: -25px !important;
        margin-right: 0 !important;
      }
    }
  }
  /* SETTINGS GOOGLE CARD
=======================================================*/
  cs-google-card-list-layout-2 {
    ion-card {
      .new-category {
        left: unset !important;
        right: 0 !important;
      }
    }
  }

  cs-google-card-list-layout-4 {
    ion-card {
      margin: 5px 0 5px 10px !important;
    }

    ion-col:nth-child(2n) {
      ion-card {
        margin: 5px 0 5px 10px !important;
      }
    }
  }
  /* SETTINGS FORM
      =======================================================*/
  form {
    ion-item {
      margin: 16px 0 16px 16px !important;

      ion-label {
        margin: 0 16px 0 0 !important;
      }
    }

    .input {
      ion-icon {
        right: unset !important;
        left: 10px !important;
      }
    }
  }
  /* SETTINGS GALLERY
      =======================================================*/
  cs-image-gallery-layout-1 {
    ion-label {
      padding: 0 40px 0 20px !important;
    }

    .icon-round {
      margin-left: -25px !important;
      margin-right: 0 !important;
    }
  }
  /* SETTINGS SEARCHBAR
      =======================================================*/
  ion-searchbar {
    border-radius: 10px 0 0 10px !important;
    border-width: 1px 0 1px 1px;
    margin-left: 16px !important;
  }

  .ios {
    .searchbar-input-container {
      padding-left: 24px;
    }
  }

  cs-search-bar-layout-1 {
    .card-title {
      right: 16px;
      left: unset !important;
    }

    .ion-padding-end {
      padding-right: 16px;
    }
  }
  /* SETTINGS TABS
    =======================================================*/
  ion-tabs {
    app-tab4 {
      ion-badge {
        right: unset !important;
        left: 0;
      }
    }

    app-tab5 {
      ion-list > ion-item::before {
        left: auto !important;
        right: 38px;
      }
    }
  }
  /* SETTINGS MAP
      =======================================================*/
  cs-map-layout-2 {
    .ion-padding-end {
      padding-right: 16px !important;
    }
  }
  /* SETTINGS QRCODE
      =======================================================*/
  cs-qrcode-layout-2 {
    ion-item {
      margin: 16px 0 16px 16px !important;

      ion-label {
        margin: 0 16px 0 0 !important;
      }
    }
  }
  /* SETTING SELECT
      =======================================================*/
  ion-select-popover ion-list ion-item {
    padding-left: 16px;
  }
  /* SETTINGS COMMENTS WITH TIMELINE
      =======================================================*/
  cs-comment-layout-2 {
    ion-item {
      &:before {
        left: unset;
        right: 38px;
      }
    }
  }
  /* SETTINGS TIMELINE
    =======================================================*/
  cs-timeline-layout-1,
  cs-timeline-layout-3 {
    ion-card {
      &:after {
        right: -30px;
        left: unset;
      }

      &:before {
        right: -36px;
        left: unset;
      }
    }

    .ion-padding-end {
      padding-right: 16px;
    }
  }

  cs-timeline-layout-2 {
    .item-thumbnail {
      &:after {
        right: -30px;
        left: unset;
      }

      &:before {
        right: -36px;
        left: unset;
      }
    }
  }
  /* SETTINGS ALERT
    =======================================================*/
  .alert-button-group {
    padding: 0 8px 0 0 !important;
  }
  /* SETTINGS SEGMENT
    =======================================================*/
  cs-segment-layout-1 {
    .ion-margin-end {
      margin-right: 16px !important;
    }
  }

  cs-segment-layout-2 {
    .ion-padding-end {
      padding-right: 16px !important;
    }
  }
  /* SETTINGS ACTION SHEET
    =======================================================*/
  cs-action-sheet-layout-2 {
    .ion-text-left {
      text-align: right !important;
    }
  }

  /* SETTINGS PROFILE
    =======================================================*/
  cs-profile-layout-5 {
    .ion-padding-end {
      padding-right: 16px !important;
    }
    .slider {

      ion-card {
        margin: 0 0 0 8px !important;
      }
    }
    .gallery-list {

      ion-card {
        margin: 4px 0 4px 8px !important;
      }
    }
  }
  /* SETTING SCCROLL SEGMENT
  =======================================================*/
  cs-scroll-segment-layout-2 {
    .page1 {
      .ion-padding-end {
        padding-right: 16px !important;
      }
    }
  }

  cs-scroll-segment-layout-4 {
    .page1 {
      .avatar-section {
        ion-label:nth-child(2) {
          margin: 0 8px 0 0 !important;
        }

        ion-label:nth-child(1) {
          margin: 0 0 0 8px !important;
        }
      }
    }

    .image-section {
      ion-item {
        .background-size {
          height: 100%;
          margin-right: 0 !important;
          margin-left: 8px !important;
        }

        .small-image {
          .background-size {
            margin-left: 0 !important;
            margin-right: 8px !important;
          }
        }
      }
    }
  }
}
