// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

//////////////////////////////////////////////////
// Theme: Ionic  UI Theme/Template App - Coppy
// Web Site: https://csform.com/
// Author: CSFORM
// Email support:  dev@csform.com
//////////////////////////////////////////////////

/** Ionic CSS Variables **/
:root {

  /* Settings Fonts Size And Icon Size
      =======================================================
      =======================================================*/

  --fallback-color: red;
  --h1-font-size: 24px;
  --h2-font-size: 20px;
  --h3-font-size: 17px;
  --h4-font-size: 16px;
  --h5-font-size: 13px;
  --h6-font-size: 10px;
  --text-font-size: 12px;

  /* Settings Fonts Size Icon
      =======================================================
      =======================================================*/

  --icon-size-small: 17px;
  --icon-size-medium: 22px;
  --icon-size-large: 32px;
  --icon-size-extra-large: 48px;

  /* Settings Color Background Our App
    =======================================================
    =======================================================*/

  --cs-background-primary: #FBFBFB;
  --cs-background-secondary: #ffffff;
  --cs-background-accent: #1ae5be;
  --cs-background-dark: #424040;

  /* Settings Color Text Our App
    =======================================================
    =======================================================*/

  --cs-text-primary: #32313B;
  --cs-text-secondary: #ffffff;
  --cs-text-accent: #1ae5be;

  /* Settings Color Gradient Our App
=======================================================
=======================================================*/

  /* Settings Gradijent Images*/
  --cs-gradient-images-primary: rgba(255, 255, 255, 1);
  --cs-gradient-images-secondary: rgba(255, 255, 255, 0);

  --cs-gradient-image: linear-gradient(to top, var(--cs-gradient-images-primary) 0%, var(--cs-gradient-images-secondary) 100%);

  /* Settings Size Avatar
=======================================================
=======================================================*/

  --size-avatar: 70px;

  /* Settings Size Thumbnail
=======================================================
=======================================================*/

  --size-thumbnail: 70px;

  /* Settings Border Radius
=======================================================
=======================================================*/

  --border-radius: 8px;

  /* Settings Color Icon
=======================================================
=======================================================*/

  --cs-icon-color-primary: #32313B;
  --cs-icon-color-secondary: #ffffff;
  --cs-icon-color-accent: #1ae5be;
}

/* INCLUDE FONTS
=======================================================
=======================================================*/

@import "fontello";
@import "fonts";
@import "rtl";

// INCLUDE ANIMATION SCSS

@import "animation";

// Oder Color Combination

@import "themes-color/pomegranate";
@import "themes-color/vida-loca";
@import "themes-color/lochmara";
@import "themes-color/meteor";
@import "themes-color/amaranth";
@import "themes-color/tote-mole";
@import "themes-color/tropical-rain-forest";
@import "themes-color/congress-blue";
@import "themes-color/brown";
@import "themes-color/jazzberry-jam";


/* Setting Avatar
=======================================================
=======================================================*/

ion-avatar {
  height: var(--size-avatar, 72px);
  width: var(--size-avatar, 72px);
  margin: 8px 0;
  overflow: visible;
}

.ios {
  ion-avatar {
    margin: 8px 0;
  }
}

/* Setting Thumbnail
=======================================================
=======================================================*/

ion-thumbnail {
  height: var(--size-thumbnail, 60px);
  width: var(--size-thumbnail, 60px);
  margin: 8px 8px;
}

.ios {
  ion-thumbnail {
    margin: 8px 8px;
  }
}

ion-img,
img {
  object-fit: cover;
}

/* SETTINGS ION-HEADER
=======================================================
=======================================================*/

.header-md:after {
  background-image: none !important;
}

/* SETTINGS TOOLBAR
=======================================================
=======================================================*/
ion-toolbar {
  --background: var(--cs-background-primary);
  --color: var(--cs-text-accent);
  --border-color: transparent;

  [slot=start] {
    margin-inline-end: 0;
  }

  ion-back-button,
  ion-menu-button {
    --background-focused: transparent !important;
    --background-hover: transparent !important;
    --color: var(--cs-text-accent) !important;
    --color-hover: var(--cs-text-accent) !important;
    --color-focused: var(--cs-text-accent) !important;
  }

  ion-title {
    font-weight: 400 !important;
    font-size: var(--h4-font-size, 16px) !important;
  }
}


body {
  --ion-font-family: 'Roboto', sans-serif;
}

/* SETTINGS FONT SIZE
=======================================================
=======================================================*/

.text-size-xl {
  font-size: var(--h1-font-size, 24px) !important;
  line-height: 29px;
  letter-spacing: 0.6px;
}

.text-size-lg {
  font-size: var(--h2-font-size, 18px) !important;
  line-height: 27px;
  letter-spacing: 0.6px;
}

.text-size-md {
  font-size: var(--h3-font-size, 16px) !important;
  line-height: 22px;
  letter-spacing: 0.6px;
}

.text-size-xs {
  font-size: var(--h4-font-size, 15px) !important;
  line-height: 20px;
  letter-spacing: 0.6px;
}

.text-size-sm {
  font-size: var(--h5-font-size, 14px) !important;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: var(--ion-color-medium, #92949c) !important;
}

.text-size-sd {
  font-size: var(--h6-font-size, 12px) !important;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: var(--ion-color-medium, #92949c) !important;
}

.text-size-p {
  font-size: var(--text-font-size, 11px) !important;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: var(--ion-color-medium, #92949c) !important;
}

.text-nowrap {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* SETTINGS FONT WEIGHT
=======================================================
=======================================================*/

.font-light {
  font-weight: 300 !important;
}

.font-regular {
  font-weight: 400 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-bold {
  font-weight: 700 !important;
}

/* SETTINGS COLOR
=======================================================
=======================================================*/

.text-color-primary {
  color: var(--cs-text-primary) !important;
}

.text-color-secondary {
  color: var(--cs-text-secondary) !important;
}

.text-color-accent {
  color: var(--cs-text-accent) !important;
}

.text-color-light {
  color: var(--cs-text-secondary) !important;
}

.error-color {
  color: red !important;
}


/* SETTINGS ICON COLOR
=======================================================
=======================================================*/

.icon-color-primary {
  color: var(--cs-icon-color-primary) !important;
}

.icon-color-secondary {
  color: var(--cs-text-secondary) !important;
}

.icon-color-accent {
  color: var(--cs-icon-color-accent) !important;
}

/* SETTINGS ICON FONT
=======================================================
=======================================================*/

.icon-font-sm {
  font-size: var(--icon-size-small, 17px) !important;
}

.icon-font-md {
  font-size: var(--icon-size-medium, 22px) !important;
}

.icon-font-lg {
  font-size: var(--icon-size-large, 32px) !important;
}

.icon-font-xl {
  font-size: var(--icon-size-extra-large, 48px) !important;
}

/* SETTINGS ICON ROUND
=======================================================
=======================================================*/

.icon-round {
  padding: 10px;
  background: var(--cs-background-accent, );
  border-radius: 50%;
}

/* SETTINGS COLOR BACKGROUND OUR APP
=======================================================
=======================================================*/

ion-page {
  background: var(--cs-background-primary);
}

ion-content {
  --background: var(--cs-background-secondary);
}

ion-list {
  padding-top: 0 !important;
  background: var(--cs-background-secondary) !important;
}

ion-list-header {
  background: var(--cs-background-secondary) !important;
}

/* SETTINGS CARD
=======================================================
=======================================================*/
ion-card {
  --background: var(--cs-background-secondary) !important;
}

/* SETTINGS ITEM SLIDING
=======================================================
=======================================================*/

.ios {
  ion-item-options {
    border: none;
  }
}

ion-item-option {
  --background: var(--cs-background-primary);
  width: auto;
}

/* SETTINGS ITEM
=======================================================
=======================================================*/

ion-item {
  --background-hover: transparent;
  --background-activated: transparent;
  --background-focused: transparent;
  --ripple-color: transparent;
  --inner-padding-end: 0;

  [slot=start] {
    margin-inline-end: 0 !important;
  }
}

.default-item {
  --background-hover: transparent;
  --background: var(--cs-background-secondary);
  background: var(--cs-background-secondary) !important;
  margin: 8px 8px 8px 0px;
  width: calc(100% - 8px) !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 0 !important;
  overflow: hidden;
}

ion-item-divider {
  --background: var(--cs-background-secondary);
  border: none;

  [slot=start] {
    margin-inline-end: 0 !important;
  }
}

/* SETTINGS MAIN MENU
=======================================================
=======================================================*/

.ion-menu-toggle,
ion-menu-toggle {
  .icon-small {
    margin-right: 10px;
  }

  ion-label {
    overflow: hidden !important;

    h1 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

/* SETTINGS BUTTON SIZE
=======================================================
=======================================================*/

ion-button {
  --ripple-color: transparent !important;
  --opacity: 1;
  margin: 0;
}

.default-button {
  --color: var(--cs-text-secondary);
  --background: var(--cs-background-accent) !important;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --padding-start: 15px;
  --padding-end: 15px;
  --box-shadow: none;
  --border-radius: 0;
  border-radius: 0;
  font-size: var(--h5-font-size);
  height: auto;
  --background-hover: var(--cs-background-accent) !important;
  --color-focused: var(--cs-text-secondary) !important;
  --color-activated: var(--cs-text-secondary) !important;
  --color-hover: var(--cs-text-secondary) !important;

}

.button-top-icon {
  height: auto;
  --background-hover: transparent;

  ion-label {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
}

.button-icon {
  --background: transparent !important;
  --color: var(--cs-text-primary) !important;
  --padding-top: 5px;
  --padding-bottom: 5px;
  --padding-start: 8px;
  --padding-end: 8px;
  font-size: var(--h5-font-size, 15px) !important;
  font-weight: 400 !important;
  --box-shadow: none;
  --background-hover: transparent !important;
  --color-focused: var(--cs-text-primary) !important;
  --color-activated: var(--cs-text-primary) !important;
  --color-hover: var(--cs-text-primary) !important;

  [slot=start] {
    margin-inline-end: 8px !important;
  }

  [slot=end] {
    margin-inline-start: 8px !important;
  }
}

.clear-button {
  --background: transparent !important;
  --color: var(--cs-text-primary) !important;
  --box-shadow: none;
  font-size: var(--h4-font-size, 16px) !important;
  font-weight: 400 !important;
  --background-hover: transparent !important;
  --color-hover: var(--cs-text-primary) !important;
  --color-activated: var(--cs-text-primary) !important;
  --color-focused: var(--cs-text-primary) !important;
}

ion-ripple-effect {
  color: transparent;
}

/* SETTINGS INPUT FIELD
=======================================================
=======================================================*/

ion-input {
  --placeholder-color: var(--cs-text-primary) !important;
  --color: var(--cs-text-primary) !important;
  --placeholder-opacity: 1 !important;
  --padding-end: 32px !important;
  --padding-start: 16px !important;
}

/* SETTINGS TEXTAREA
=======================================================
=======================================================*/

ion-textarea {
  --placeholder-color: var(--cs-text-primary) !important;
  --color: var(--cs-text-accent) !important;
  --placeholder-opacity: 1 !important;
}

/* SETTINGS CHECK BOX
=======================================================
=======================================================*/

ion-checkbox {
  --background: transparent;
  --background-checked: var(--cs-background-accent);
  --border-color-checked: var(--cs-background-accent);
  --border-color: var(--cs-background-dark);
  --border-radius: 4px;
  --border-width: 2px;
  --checkmark-color: var(--cs-text-secondary);
}

/* SETTINGS TOOGLE
=======================================================
=======================================================*/

ion-toggle {
  --background: var(--cs-background-primary);
  --background-checked: var(--cs-background-accent);
  --handle-background: var(--cs-background-secondary);
  --handle-background-checked: var(--cs-background-secondary);
  padding-inline-start: 4px;
  padding-inline-end: 4px;
}

/* SETTINGS RADIO
=======================================================
=======================================================*/

ion-radio {
  --color: var(--cs-background-dark);
  --color-checked: var(--cs-background-accent);
}

/* SETTINGS TABS
=======================================================
=======================================================*/

ion-tab-bar {
  --background: var(--cs-background-primary);
  --border: none;
}

ion-tab-button {
  font-size: var(--h5-font-size, 15px);
  --color: var(--cs-text-primary);
  --color-selected: var(--cs-text-accent);
  --ripple-color: transparent;
}

/* SETTINGS RANGE
=======================================================
=======================================================*/

ion-range {
  --knob-background: var(--cs-background-accent);
  --bar-background-active: var(--cs-background-accent);
  --bar-background: var(--cs-background-dark);
  --pin-background: var(--cs-background-accent);
}

/* SETTINGS ION-BADGE
=======================================================
=======================================================*/

ion-badge {
  --background: var(--cs-background-dark);
  --color: var(--cs-text-secondary);
  --padding-bottom: 10px;
  --padding-end: 12px;
  --padding-start: 12px;
  --padding-top: 10px;
  border-radius: 0;
  margin: 0;
  font-weight: 700;
  font-size: var(--h5-font-size, 15px);
  line-height: 14px;
}

ion-chip {
  --color: #fff;
  line-height: 1px;

  &.activated {
    background: transparent !important;

    ion-ripple-effect {
      display: none !important;
    }
  }
}

/* SETTINGS SEARCHBAR
=======================================================
=======================================================*/

ion-searchbar {
  background: var(--cs-background-secondary) !important;
  --background: var(--cs-background-secondary) !important;
  --cancel-button-color: var(--cs-text-primary) !important;
  --clear-button-color: var(--cs-text-primary) !important;
  --color: var(--cs-text-primary) !important;
  --icon-color: var(--cs-text-primary) !important;
  --placeholder-color: var(--cs-text-primary) !important;
  --placeholder-opacity: 1 !important;
  border-width: 1px 1px 1px 0;
  border-color: var(--cs-background-dark);
  border-style: solid;
  border-radius: 0 10px 10px 0 !important;
  margin: 16px 0 !important;
  width: calc(100% - 16px) !important;
  height: 40px !important;
  box-shadow: none !important;

  input {
    box-shadow: none !important;
    background: transparent !important;
  }
}

.ios {
  ion-searchbar {
    padding: 8px 16px 8px 0;
  }
}

/* SETTINGS SEGMENTS
=======================================================
=======================================================*/
ion-segment {
  background: transparent;
}

ion-segment-button {
  --background: transparent;
  --background-checked: transparent !important;
  --background-focused: transparent !important;
  --background-hover: transparent !important;
  --ripple-color: transparent !important;
  --color: var(--cs-text-primary);
  --color-checked: var(--cs-text-accent) !important;
  --color-focused: var(--cs-text-primary) !important;
  --color-hover: var(--cs-text-primary) !important;
  --indicator-box-shadow: none;
  --border-width: 0 !important;
  --border-radius: 0;
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
  min-width: unset;
  max-width: unset;
}

//Setting for ios
.ios {
  ion-segment {
    padding: 10px 0 0 0;

    ion-segment-button {
      --indicator-color: transparent;
    }

    .segment-button-checked {
      border-bottom: 2px solid var(--cs-background-accent);
    }
  }
}

/* SETTINGS SUPER TAB
=======================================================
=======================================================*/

super-tabs-toolbar {
  &:after {
    background-image: none !important;
  }
}

super-tabs-container,
super-tab {
  width: 100%;
}

super-tab-button {
  flex-grow: 1;
  max-width: unset;
}

/* SETTINGS NEW-CATEGORY
=======================================================
=======================================================*/

.new-category {
  background: var(--cs-background-accent);
  color: var(--cs-text-secondary);
  font-size: var(--h5-font-size, 15px);
  font-weight: 700;
  line-height: 17px;
  padding: 10px 16px;
  display: inline-block;
}

/* SETTINGS WIZARD
=======================================================
=======================================================*/

.swiper-pagination-bullet-active {
  --bullet-background: var(--cs-background-accent) !important;
  background: var(--bullet-background) !important;
}

cs-wizard-layout-1 {
  .swiper-pagination-bullet-active {
    --bullet-background: var(--cs-background-secondary) !important;
    background: var(--bullet-background) !important;
  }

  .swiper-pagination.swiper-pagination-bullets {
    bottom: 30px !important;
  }
}

cs-wizard-layout-2 {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: 10px !important;
  }
}

cs-wizard-layout-3 {
  .swiper-pagination-bullet-active {
    --bullet-background: var(--cs-background-secondary) !important;
    background: var(--bullet-background) !important;
  }

  .swiper-pagination.swiper-pagination-bullets {
    bottom: 80px !important;
  }
}

cs-wizard-layout-4 {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: 15px !important;
  }
}

cs-profile-layout-2 {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: -20px !important;
  }
}

cs-profile-layout-4 {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: -20px !important;
  }
}

cs-action-sheet-layout-2 {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: 0px !important;
  }
}

/* Default Overview Ionic Section
=======================================================
=======================================================*/

.background-size {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

[slot=end] {
  margin-inline-start: 0;
}

[slot=start] {
  margin-inline-end: 16px;
}

.ios {
  [slot=start] {
    margin-inline-end: 16px;
  }
}

.margin-half {
  margin: 8px;
}

.no-margin-top {
  margin-top: 0 !important;
}

.padding-half {
  padding: 8px;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

html[dir=ltr] {

  .padding-half-left {
    padding-left: 8px;
  }

  .padding-half-right {
    padding-right: 8px;
  }

  .no-padding-left {
    padding-left: 0 !important;
  }

  .no-padding-right {
    padding-right: 0 !important;
  }

  .no-margin-left {
    margin-left: 0 !important;
  }

  .no-margin-right {
    margin-right: 0 !important;
  }

  .no-margin-bottom {
    margin-bottom: 0 !important;
  }
}

.border-radius {
  border-radius: 8px;
  --border-radius: 8px;
}

.no-border-radius {
  border-radius: 0;
  --border-radius: 0;
}

.border-radius-top {
  --border-radius: 10px 10px 0 0 !important;
  border-radius: 10px 10px 0 0 !important;
}

.border-radius-left {
  --border-radius: 10px 0 0 10px !important;
  border-radius: 10px 0 0 10px !important;
}

.border-radius-right {
  --border-radius: 0 10px 10px 0 !important;
  border-radius: 0 10px 10px 0 !important;
}

.background-primary {
  --background: var(--cs-background-primary);
  background: var(--cs-background-primary);
}

.background-secondary {
  background: var(--cs-background-secondary) !important;
  --background: var(--cs-background-secondary) !important;
}

.background-accent {
  --background: var(--cs-background-accent);
  background: var(--cs-background-accent);
}


.transparent {
  --background: transparent;
  background: transparent;
}

.no-box-shadow {
  box-shadow: none !important;
}

.box-shadow {
  box-shadow: 0 1px 10px rgba(199, 199, 204, 1) !important;
  position: relative;
  z-index: 999;
}

.clearfix {
  display: block;
  clear: both;
}

.overflow-visible {
  overflow: visible !important;
}

.z-index-1 {
  position: relative;
  z-index: 999;
}

/* Settings Spinner
================================================
================================================*/

ion-spinner {
  width: 40px;
  height: 40px;
  --color: var(--cs-background-accent) !important;
}

cs-spinner {
  &.svg-size {
    font-size: 45px;
    color: var(--cs-background-accent) !important;
    stroke: var(--cs-background-accent) !important;
    fill: var(--cs-background-accent) !important;
  }
}

/* Settings Reorder Group
================================================
================================================*/

ion-reorder-group {
  ion-item {
    --inner-padding-end: 0 !important;
  }

  ion-reorder {
    display: flex !important;
    align-items: center !important;
    height: 100% !important;
    background: var(--cs-background-accent) !important;
    opacity: 1 !important;
  }
}

/* Settings Picker
================================================
================================================*/

ion-picker {
  --background: var(--cs-background-secondary) !important;

  .picker-button {
    color: var(--cs-text-accent) !important;
  }

  .picker-opt {
    color: var(--cs-text-primary) !important;
  }

  .picker-opt-selected {
    color: var(--cs-text-accent) !important;
  }
}

/* Settings Datatime
================================================
================================================*/

ion-datetime {
  --placeholder-color: var(--cs-text-primary) !important;
}

/* Settings Select
================================================
================================================*/

ion-select {
  color: var(--cs-text-primary) !important;
}

/* Settings Alert
================================================
================================================*/

ion-alert {
  .alert-wrapper {
    background: var(--cs-background-secondary) !important;

    .alert-head {
      .alert-title {
        font-size: var(--h5-font-size, 15px) !important;
        font-weight: 300 !important;
        color: var(--cs-text-primary) !important;
      }

      .alert-sub-title {
        font-size: var(--h5-font-size, 15px) !important;
        font-weight: 300 !important;
        color: var(--cs-text-accent) !important;
      }
    }

    .alert-message {
      color: var(--cs-text-primary) !important;
      font-size: var(--h5-font-size, 15px);
    }

    .alert-radio-group {
      border-top: 1px solid var(--cs-background-dark);
      border-bottom: none;

      .alert-radio-label {
        font-size: var(--h5-font-size, 15px) !important;
        font-weight: 300 !important;
        color: var(--cs-text-primary) !important;
      }

      .alert-radio-inner {
        border-color: var(--cs-background-accent) !important;
      }

      .alert-radio-icon {
        border-color: var(--cs-background-dark) !important;
      }

      .alert-radio-inner.sc-ion-alert-md {
        background-color: var(--cs-background-accent) !important;
      }

      [aria-checked=true] .alert-radio-icon {
        border-color: var(--cs-background-accent) !important;
      }

      [aria-checked=true] .alert-radio-label {
        color: var(--cs-text-accent) !important;
      }
    }

    .alert-checkbox-group {
      border-top: 1px solid var(--cs-background-dark);
      border-bottom: none;

      .alert-checkbox-label {
        font-size: var(--h5-font-size, 15px) !important;
        font-weight: 300 !important;
        color: var(--cs-text-primary) !important;
      }

      .alert-checkbox-icon {
        border-color: var(--cs-background-dark) !important;
      }

      [aria-checked=true] .alert-checkbox-label {
        color: var(--cs-text-accent) !important;
      }

      [aria-checked=true] .alert-checkbox-icon {
        background: var(--cs-background-accent) !important;
        border-color: var(--cs-background-accent) !important;
      }
    }

    .alert-button-group {
      background: var(--cs-background-accent) !important;

      .alert-button {
        font-size: var(--h5-font-size, 15px) !important;
        font-weight: 400 !important;
        color: var(--cs-text-secondary) !important;
      }
    }
  }
}

/* Settings Popover
================================================
================================================*/

ion-select-popover {
  background: var(--cs-background-secondary) !important;

  ion-list {
    padding: 0 !important;
    background: transparent !important;

    ion-item {
      --background: transparent;
      --border-color: transparent;
      padding-right: 16px;

      ion-label {
        font-size: var(--h5-font-size, 15px) !important;
        font-weight: 300 !important;
        color: var(--cs-text-primary) !important;
      }
    }
  }
}

/* Settings Action Sheet
================================================
================================================*/

ion-action-sheet {
  --background: var(--cs-background-secondary) !important;
  --background-selected: var(--cs-background-primary) !important;
  --background-activated: var(--cs-background-primary) !important;
  --color: var(--cs-text-primary) !important;
  --button-color-selected: var(--cs-text-accent) !important;
  --button-color: var(--cs-text-primary) !important;

  .action-sheet-button {
    font-size: var(--h5-font-size, 15px) !important;
    font-weight: 400 !important;
  }

  .action-sheet-group-cancel {
    background: var(--cs-background-accent) !important;

    .action-sheet-cancel {
      color: var(--cs-text-secondary) !important;
      background: var(--cs-background-accent) !important;
    }
  }

  .action-sheet-destructive {
    color: var(--cs-text-accent) !important;
  }
}

.action-sheet-cancel.sc-ion-action-sheet-ios::after {
  background: var(--cs-background-accent) !important;
}

/* Settings Alert Info
================================================
================================================*/

.info-dialog {
  text-align: center;

  .alert-head {
    text-align: center;
  }
}

/* Settings Alert Warning
================================================
================================================*/

.alert-warning {
  text-align: center;

  .alert-head {
    text-align: center;
  }

  .alert-button-group {
    padding: 8px 0 8px 8px !important;
  }

  button {
    width: 100%;
    margin-bottom: 20px;
    font-size: var(--h5-font-size, 15px);
    border: none !important;

    .alert-button-inner {
      text-align: center;
      color: var(--cs-text-secondary) !important;
    }
  }
}

/* Settings Alert Subscribe
================================================
================================================*/

.alert-subscribe,
.basic-dialog {
  .alert-input {
    background: transparent;
    color: var(--cs-text-accent);
    border-bottom: 1px solid var(--cs-background-dark) !important;
  }

  .alert-input:focus {
    border-color: var(--cs-background-accent) !important;
  }

  .alert-input.sc-ion-alert-ios {
    border: none;
    border-radius: 0;
  }
}

button.days-btn.on-selected {
  color: #fbfbfb !important;
  border: 0px black solid !important;
  border-radius: 50% !important;
  background-color: #1ae5be !important;
  height: 100% !important;
}

ion-fab-button.ios.ion-activatable.ion-focusable.hydrated {
  --background: var(--cs-background-accent) !important;
  --background-activated: var(--ion-color-accent-shade, #1ae5be);
  --background-focused: var(--ion-color-accent-shade, #1ae5be);
  --background-hover: var(--ion-color-accent-shade, #1ae5be);
  opacity: 0.7;

}

/* Form input text color */
input.native-input.sc-ion-input-md {
  color: black !important;
}

ion-select.ion-padding-start.ion-margin-start.ng-valid.md.in-item.hydrated.ng-touched.ng-dirty.ion-valid.ion-touched.ion-dirty {
  color: black !important;
}

ion-select.ion-padding-start.ion-margin-start.ng-untouched.ng-pristine.ng-valid.ion-untouched.ion-pristine.ion-valid.md.in-item.hydrated {
  color: black !important;
}

.color-opacity {
  opacity: 0.6;
}

.ios,
.md {
  .item-has-focus.ion-invalid {
    --border-color: var(--ion-color-danger, #eb445a);
    border-bottom: 2px solid var(--ion-color-danger, #eb445a);
  }

  .item-has-focus.ion-valid {
    --border-color: var(--ion-color-success, #2dd36f);
    border-bottom: 2px solid var(--ion-color-success, #2dd36f);
  }

  .item-has-focus.ion-focused {
    --border-color: var(--ion-color-info, #3880ff);
    border-bottom: 2px solid var(--ion-color-info, #3880ff);
  }
}
