/* Style component 2
========================================================*/

ion-content {

    ion-grid,
    ion-row {
      height: 100%;
  
      img {
        max-width: 200px;
        max-height: 100px;
        margin: 0 auto;
      }
  
      form {
        ion-item {
          --background: var(--cs-background-secondary) !important;
          margin: 16px 16px 16px 6px;
          width: calc(100% - 16px);
  
          ion-icon {
            position: absolute;
            right: 10px;
            bottom: 15px;
            z-index: 999;
          }
  
          ion-label {
            transform: none;
            flex: none !important;
            min-width: auto !important;
            width: auto !important;
            margin: 0 0 0 16px;
          }
          ion-input{
           color: var(--cs-text-primary);
          }
        }
  
        .default-button {
          width: calc(100% - 8px);
          
        }
  
        .share-section {
          position: relative;
          display: inline-block;
          padding-top: 50px;
          width: 100%;
  
          &::after {
            content: "or try";
            font-size: var(--h6-font-size, 12px);
            line-height: 27px;
            color: var(--cs-text-secondary);
            width: 140px;
            border-bottom: 1px solid var(--cs-background-secondary);
            position: absolute;
            top: 10px;
            left: calc(50% - 70px);
          }
        }
      }
   
    }
  }
  