<!-- lOGIN FROMA --COMPONENT 1 -->
<div class="ion-page">
  <!-- Header -->
  <!--  <ion-header>
    <ion-toolbar>
      <ion-title *ngIf="data != null" class="ion-text-capitalize">Accurate Billing</ion-title>
    </ion-toolbar>
  </ion-header>  -->
  <!-- Content -->
  <ion-content *ngIf="data != null" class="transparent background-size">
    <!-- [ngStyle]="{'background-image': 'url(' + data.background + ')'}" -->

    <ion-grid class="ion-padding">
      <ion-row class="ion-align-items-center" *ngIf="data != null">
        <ion-col class="ion-text-center" size="12">
          <h1 class="text-size-lg text-color-accent ion-text-wrap ion-margin-top ion-margin-bottom">
            Accurate Biller</h1>
          <img class="ion-margin-bottom" [src]="data.logo" />
          <h2 class="text-size-sm text-color-primary font-bold ion-text-wrap ">
            {{data.subtitle}}</h2>
          <h3 class="text-size-lg font-bold text-color-primary font-bold ion-text-wrap">
            {{data.title}}</h3>
        </ion-col>
        <ion-col size="12">
          <!---Form-->
          <form [formGroup]="frmFG" (ngSubmit)="onLoginFunc(frmFG.value)">
            <!---Input field username-->
            <ion-item class="ion-no-padding border-radius box-shadow input" lines="none">
              <!--  <ion-label class="text-size-sd text-color-primary font-regular" position="fixed">
                {{data.labelUsername}}</ion-label> -->
              <ion-input class="text-size-sm ion-text-wrap" required type="text" [placeholder]="data.username"
                formControlName="email" name="email">
              </ion-input>
              <!-- <ion-icon *ngIf="!isUsernameValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon> -->
            </ion-item>
            <!---Input field password-->
            <ion-item class="ion-no-padding border-radius box-shadow input" lines="none">
              <!-- <ion-label class="text-size-sd text-color-primary font-regular" position="fixed">
                {{data.labelPassword}}</ion-label> -->
              <ion-input class="text-size-sm ion-text-wrap" required [type]="password" [placeholder]="data.password"
                formControlName="password" name="password">
              </ion-input>
              <!-- <ion-icon *ngIf="!isPasswordValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon> -->
              <ion-icon item-end [name]="passwordIcon" class="icon-font-sm text-color-primary" (click)='hideShowPassword()'></ion-icon>
            </ion-item>
            <ion-button class="text-size-sm clear-button ion-text-capitalize ion-float-end
            ion-margin-end ion-margin-start" size="small" fill="clear" (click)="onForgotPassword()">
              {{data.forgotPassword}}
            </ion-button>
            <div class="clearfix"> </div>
            <ion-row class="ion-no-padding">
              <ion-col size="12" class="ion-padding">
                <!---Login ion-button-->
                <ion-button class="default-button ion-text-capitalize ion-margin-top
                ion-margin-bottom border-radius" [disabled]="!frmFG.valid" type="submit">
                  <!--   <ion-icon class="icon-font-md icon-color-secondary font-bold" slot="end"
                  name="md-arrow-forward"></ion-icon>  -->
                  {{data.login}}
                </ion-button>
              </ion-col>
              <ion-col size="6" class="ion-no-padding">
                <!---Login ion-button-->
                <!-- <ion-button class="default-button ion-text-capitalize ion-margin-top
                ion-margin-bottom border-radius-left ion-float-end" (click)="onLoginFunc()">
                  {{data.login}}</ion-button> -->
              </ion-col>
            </ion-row>
            <!--   <div class="ion-text-center share-section ion-padding-horizontal">
              <ion-button size="large" fill="clear" class="ion-margin-end">
                <ion-icon class="icon-fon-xl icon-color-secondary" slot="icon-only"
                name="logo-instagram"></ion-icon>
              </ion-button>
              <ion-button size="large" fill="clear">
                <ion-icon class="icon-fon-xl icon-color-secondary" slot="icon-only"
                name="logo-pinterest"></ion-icon>
              </ion-button>
              <ion-button size="large" fill="clear" class="ion-margin-start">
                <ion-icon class="icon-fon-xl icon-color-secondary" slot="icon-only"
                name="logo-twitter"></ion-icon>
              </ion-button>
            </div> -->
            <p class="text-size-sm text-color-primary font-regular">
              {{data.description}}</p>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>