.active {
    ion-toolbar {
      background: var(--cs-background-primary) !important;
      color: var(--cs-text-accent) !important;
    }
  
    ion-back-button,
    ion-menu-button {
      --color: var(--cs-text-accent) !important;
    }
  }
  
  ion-thumbnail {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  .header-image {
    position: relative;
    z-index: 999;
  }
  
  .background-size {
    height: 140px;
    position: relative;
  
    &::after {
      content: "";
      background: var(--cs-gradient-image);
      position: absolute;
      height: 100%;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  
  .info-block {
    ion-thumbnail {
      height: 100px;
      width: 100px;
      opacity: 1 !important;
      //margin: -70px auto 0;
      z-index: 999;
      position: relative;
    }
  }
  
  ion-grid {
    position: relative;
    z-index: 1;
  }
  
  .page1 {
    .background-size {
      height: 250px;
  
      ion-card-content {
        position: absolute;
        bottom: 0;
      }
    }
  }
  
  .product-section {
    border: 1px solid #cccccc;
    background: var(--cs-background-secondary) !important;
    border-radius: 8px;
  }
  
  .icon-vertical {
    display: inline-block !important;
  }
  
  .day-align {
    display: flex;
    letter-spacing: 4px;
    font-family: sans-serif;
    font-size: smaller;
    color: rgb(195 202 200);
  }
  
  ion-label {
    flex: none !important;
  }
  
  ion-radio {
    width: 12px !important;
    height: 12px !important;
  }
  
  .product-freeze {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e1e1;
  }
  
  h4.text-size-sm.text-color-primary.ion-padding-start.font-bold.ion-text-wrap {
    margin-bottom: -4px;
    margin-top: 2px;
    color: #1ae5be !important;
}
