<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/schedule/check-schedule"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">
      <h6 class="text-size-xs font-bold ion-text-wrap">
        {{today | date:'dd'}} {{today | date:'LLLL'}}</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-list *ngFor="let item of data">
          <ion-row>
            <h4 class="text-size-sm text-color-primary ion-padding-start font-bold ion-text-wrap">
              {{item.name}}
            </h4>
            <ion-item>
              <ion-label class="">
                <ion-thumbnail class="border-radius" slot="start">
                  <img src={{item.product_img}}>
                </ion-thumbnail>
              </ion-label>
              <ion-label class="ion-padding-start">
                <h6 class="text-size-sm text-color-primary font-bold ion-text-wrap">
                  {{item.title}}
                </h6>
                <h6 style="display: flex;" class="text-size-sd text-color-primary ion-text-wrap" color="medium">
                  (1 {{item.unit}})
                </h6>
                <h6 class="text-size-sm text-color-primary font-bold ion-text-wrap">
                  Rs. {{item.totalcost}}
                </h6>
              </ion-label>
              <form [formGroup]="frmFG">
                <ion-label class="ion-margin-end">
                  <ion-radio-group formControlName="status" (ionChange)="onStatusChange(item)" style="display: flex;">
                    <ion-item lines="none">
                      <ion-radio slot="start" value="delivered"></ion-radio>
                      <ion-label class="text-size-sd text-color-primary">&nbsp;Delivered
                      </ion-label>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-radio slot="start" value="cancelled"></ion-radio>
                      <ion-label class="text-size-sd text-color-primary">&nbsp;Cancelled
                      </ion-label>
                    </ion-item>
                  </ion-radio-group>
                </ion-label>
              </form>
            </ion-item>
          </ion-row>
        </ion-list>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar>

    <ion-button item-end class="default-button border-radius-right ion-text-capitalize ion-margin-end " expand="block">
      Submit
    </ion-button>
  </ion-toolbar>
</ion-footer> -->