<ion-app>
  <ion-split-pane when="md" contentId="main-content">
    <ion-menu side="start" contentId="main-content" type="overlay" [swipeGesture]="false">
      <!-- Settings Toolbar -->
      <ion-header class="background-size">
        <!--  [ngStyle]="{'background-image': 'url(' + +.background + ')'}" -->
        <ion-menu-toggle auto-hide="false">
          <ion-item class="transparent" lines="none" [routerLink]="['/profile']">
            <i slot="start" class="icon icon-account-outline icon-font-md icon-color-accent"></i>
            <ion-label slot="start" class="ion-margin-start">
              <h1 class="text-size-sm text-color-primary font-bold">{{user.name}}</h1>
            </ion-label>
            <!-- <i slot="end" class="icon icon-font-md icon-color-accent" name="chevron-forward-outline"></i> -->
            <ion-icon slot="end" class="icon icon-font-md icon-color-primary" name="chevron-forward-outline"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
      </ion-header>
      <!-- Content -->
      <ion-content>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12" class="ion-no-padding">
              <!-- Menu List -->
              <ion-list>
                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                  <ion-item class="default-item box-shadow" lines="none" [routerDirection]="'root'"
                    (click)="openPage(p)">
                    <i slot="start" class="icon {{p.icon}} icon-font-sm icon-color-accent"></i>
                    <ion-label>
                      <h1 class="text-size-sm text-color-primary font-light ion-padding-start">{{p.title}}</h1>
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
      <!-- Version number -->
      <ion-item class="transparent mr-blur">
        <i slot="start" class="icon icon-information-outline icon-font-sm icon-color-primary"></i>
        <ion-label>
          <h1 class="text-size-sm text-color-primary font-light ion-padding-start">1.0</h1>
        </ion-label>
      </ion-item>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>