.background-size {
  height: 60px;
  position: relative;

  ion-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    --color: var(--cs-text-primary);

    img {
      max-width: 185px;
    }
  }

}

.mr-blur {
  opacity: 0.6;
  z-index: 9999 !important;
}