<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Bills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" parallax-header>
  <!--Content-->
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-list class="ion-no-margin" *ngIf="data && data.customers; else skeleton">
          <ion-item lines="none" class="text-size-sm text-color-primary font-bold ion-text-wrap ion-margin-end">
            <ion-label>Select Month</ion-label>
            <ion-select value="12" class="text-size-sm ">
              <ion-select-option value="01">January</ion-select-option>
              <ion-select-option value="02">February</ion-select-option>
              <ion-select-option value="03">March</ion-select-option>
              <ion-select-option value="04">April</ion-select-option>
              <ion-select-option value="05">May</ion-select-option>
              <ion-select-option value="06">June</ion-select-option>
              <ion-select-option value="07">July</ion-select-option>
              <ion-select-option value="08">August</ion-select-option>
              <ion-select-option value="09">September</ion-select-option>
              <ion-select-option value="10">October</ion-select-option>
              <ion-select-option value="11">November</ion-select-option>
              <ion-select-option value="12">December</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="default-item ion-no-padding box-shadow" lines="none" *ngFor="let item of data.customers">
            <!--Content Avatar-->
            <!--    <ion-thumbnail class="border-radius" slot="start">
              <img src="{{item.profilepic}}">
            </ion-thumbnail> -->
            <ion-label class="ion-padding-start" (click)="customerDetail(item.id)">
              <!-- Ttile and Subtitle -->
              <h3 class="text-size-sm text-color-primary font-bold ion-text-wrap">
                {{item.name}}</h3>
              <p class="text-size-sm font-regular ion-text-wrap">
                <!--  {{item.address}} --> Total - Rs. 2000
              </p>
            </ion-label>
            <!-- <ion-button class="button-icon ion-margin-end" slot="end">
                <ion-icon class="icon-font-md" name="create"></ion-icon>
                <ion-icon class="icon-font-md" name="create"></ion-icon>
              </ion-button> -->
            <ion-label class="ion-text-end ">

              <ion-chip outline class="schedule_btn " size="small" color="default">
                View Bill<ion-icon class="icon icon-color-accent icon-font-sm font-bold icon-receipt"
                  (click)="edit(item.id)">
                </ion-icon>
              </ion-chip>
              <!--    <ion-icon class="icon icon-color-accent icon-font-sm font-bold icon-receipt" (click)="edit(item.id)">
              </ion-icon> -->

            </ion-label>

          </ion-item>
        </ion-list>

        <ng-template #skeleton>
          <ion-list class="ion-no-margin" className="fadeInLeft">
            <ion-item class="default-item ion-no-padding box-shadow" lines="none" *ngFor="let item of [1, 2, 3, 4, 5]">
              <ion-thumbnail class="border-radius ion-padding-start" slot="start">
                <ion-avatar>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
              </ion-thumbnail>
              <ion-label class="ion-padding">
                <h2>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </h2>
                <p>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </p>
              </ion-label>
              <ion-buttons slot="end" class="icon-vertical ion-margin-end">
                <ion-item>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-item>
                <ion-item>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-item>

              </ion-buttons>
            </ion-item>
          </ion-list>
        </ng-template>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>