.active {
  ion-toolbar {
    background: var(--cs-background-primary) !important;
    color: var(--cs-text-accent) !important;
  }

  ion-back-button,
  ion-menu-button {
    --color: var(--cs-text-accent) !important;
  }
}

.background-size {
  height: 400px;
  position: relative;

  &::after {
    content: "";
    background: var(--cs-gradient-image);
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }

  /* Parallax Title
     =============================================*/
  .parallax-title-section {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
  }
}

.icon-vertical {
  display: inline-block !important;
}

ion-skeleton-text {
  line-height: 13px;
  //--background-rgb: 230, 40, 50;
  --border-radius: 20px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}

ion-chip {
  border-color: #1ae5be !important;
  font-size: 12px;
}

.schedule_btn {
  //border: 1px solid #036f5a;
  color: #1ae5be;
  //border-radius: 5%;
  //border-color: #1ae5be !important;
}
