<!-- EXPANDABLE --COMPONENT 1 -->
<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/schedule/check-schedule"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Details Schedule</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="data != null">
  <ion-grid class="ion-no-padding">
    <ion-row *ngIf="data != null">
      <ion-col size="12">
        <ion-list class="ion-no-margin">
          <!-- Header List Big Image -->
          <!-- <ion-list-header>
              <ion-label class="ion-padding-top ion-padding-bottom">
                <h1 class="text-size-md font-regular text-color-accent ion-no-margin">
                  {{data.header}}</h1>
              </ion-label>
            </ion-list-header> -->
          <ul *ngIf="!onLeave" class="collapsible ion-no-margin ion-no-padding">
            <li *ngFor="let group of data.items;">
              <!-- List big image Header -->
              <div class="collapsible-header ion-no-padding" (click)="toggleGroup(group)">
                <ion-item class="default-item box-shadow ion-no-padding" lines="none">
                  <ion-thumbnail class="border-radius-right" slot="start">
                    <ion-img [src]="group.image" [alt]="group.title"></ion-img>
                  </ion-thumbnail>
                  <ion-label class="ion-padding-start">
                    <h3 class="text-size-sm font-bold text-color-primary ion-text-wrap">
                      {{group.title}}</h3>
                    <p class="text-size-sm font-regular ion-text-wrap">
                      {{group.description}}</p>
                  </ion-label>
                </ion-item>
              </div><!-- End List big image Header -->
              <!-- LIST OPEN ACCORDIAN BODY  -->
              <div class="item-accordion" [ngClass]="{'active': group.show }" [hidden]="!group.show">
                <ion-item class="default-item box-shadow ion-no-padding" lines="none"
                  *ngFor="let item of group.expandItems;" (click)="onItemClickFunc(item, $event)">
                  <!-- Avatar -->
                  <ion-thumbnail class="border-radius-left" slot="end">
                    <img [src]="item.image" [alt]="item.title" />
                  </ion-thumbnail>
                  <ion-label class="ion-padding-start">
                    <!-- Subtitle Title -->
                    <h3 class="text-size-sm font-bold text-color-primary ion-text-nowrap">
                      {{item.title}}</h3>
                    <!-- Subtitle Subtitle -->
                    <h3 class="text-size-sm text-color-primary font-regular ion-text-wrap">
                      {{item.description}}</h3>
                    <p class="text-size-sm font-light ion-text-nowrap">
                      {{item.details}}</p>
                  </ion-label>
                </ion-item>
              </div>
              <!-- End List big image Body -->
            </li>
          </ul>

          <ul *ngIf="onLeave" class="collapsible ion-no-margin ion-no-padding">
            <li *ngFor="let group of data.items;">
              <!-- List big image Header -->
              <div class="collapsible-header ion-no-padding" (click)="toggleGroup(group)">
                <ion-item class="default-item box-shadow ion-no-padding" lines="none">
                  <ion-thumbnail class="border-radius-right" slot="start">
                    <ion-img [src]="group.image" [alt]="group.title"></ion-img>
                  </ion-thumbnail>
                  <ion-label class="ion-padding-start">
                    <h3 class="text-size-sm font-bold text-color-primary ion-text-wrap">
                      {{group.title}}</h3>
                    <p class="text-size-sm font-regular ion-text-wrap">
                      {{group.description}}</p>
                  </ion-label>
                  <ion-checkbox class="ion-margin-end" type="checkbox" slot="end"></ion-checkbox>
                </ion-item>
              </div>
            </li>
          </ul>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>